@keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.order-input {
    width: 60px !important;
}

.item {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 15%;
    height: 225px;
    max-height: 300px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 20px 1px grey;
    animation-duration: 0.5s;
    animation-name: enter;
}

.faded {
    background-color: gray;
    opacity: 0.5;
}

p.desc {
    height: 40px;
}

.item-content {
    top: 0;
    right: 0;
}

.item-content,
.selected-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.selected-item {
    top: 0;
    right: 0;
    color: green;
    z-index: 50;
}

.delete-button {
    margin-top: 10%;
}

.selected {
    margin-top: 30%;
    font-size: 60px;
    text-shadow: honeydew 1px 1px;
}

.item-button {
    width: 100%;
    position: absolute;
    z-index: 50;
    left: 10;
}

.amount {
    margin: 10px auto;
}

.amount-input {
    width: 50px;
}

.amount-header {
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .item {
        width: 40%;
        min-width: 80%;
    }
}